{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>{{ user.first_name }} {{user.last_name }}</h1>

<ul class="list-group">
{% for friend in friends %}
<li class="list-group-item">
<a href="http://vk.com/{{friend.domain}}">{{friend.first_name}} {{friend.last_name}}</a>
</li>
{% endfor %}
</ul>
</ul>
{% else %}
<div class="jumbotron">
  <h1>Войти</h1>
  <p>Авторизуйтесь с помощью VK для продолжения.</p>
  <p><a class="btn btn-primary btn-lg"
        href="{% url 'social:begin' 'vk-oauth2' %}"
        role="button">Авторизоваться</a></p>
</div>
{% endif %}
{% endblock %}
